*{
    text-align: center;
    background-image:url("./pexels-life-of-pix-67468.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.Name{
    color: brown;
    background-color: rgb(243, 215, 179);
    border: "1px";
    border-style: solid ;
    border-color: black;
}
.About{
    color: black;
    background-color: rgb(124, 236, 236);
    border: "1px";
    border-style:dashed ;
    border-color:brown;
}
.Info{
    color: rgb(0, 0, 0);
    background-color: rgb(240, 241, 212);
    border: "1px";
    border-style:dotted ;
    border-color:blue;
}




